.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/aas-guides/CopilotIndices/17.14.794.21998/CodeChunks.db
.vs/aas-guides/CopilotIndices/17.14.794.21998/SemanticSymbols.db
.vs/aas-guides/FileContentIndex/39720de2-e67b-473f-9349-e88720f16bf4.vsidx
.vs/aas-guides/FileContentIndex/aa16e5bd-9d5f-4b55-a09c-f7decabfe25e.vsidx
.vs/aas-guides/FileContentIndex/b2febbeb-447e-473a-b292-6c467d445c42.vsidx
.vs/aas-guides/FileContentIndex/ee368a92-fab9-4ee2-9489-6d7a514b227f.vsidx
.vs/aas-guides/FileContentIndex/f9b8fd5f-6a08-4e54-b2a9-7cd988fdcd77.vsidx
.vs/aas-guides/v17/.wsuo
.vs/aas-guides/v17/DocumentLayout.backup.json
.vs/aas-guides/v17/DocumentLayout.json
